{% extends 'base_template.html' %}

{% block title %}
    <title>数据库线程相关</title>
{% endblock %}


{% block body %}
    <div class="container">
        <h3 align="center">20.2数据库线程</h3>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                当前主要指标
            </div>
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">当前session数</th>
                    <th style="text-align: center">最大session数</th>
                    <th style="text-align: center">当前session数(除SYS内部连接外)</th>
                    <th style="text-align: center">当前并发session数</th>
                    <th style="text-align: center">当前process数</th>
                    <th style="text-align: center">最大process数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: center" scope="row">{{ cur_ses_count }}</th>
                    <td style="text-align: center">{{ cur_max_ses_set }}</td>
                    <td style="text-align: center">{{ cur_nosys_ses_count }}</td>
                    <th style="text-align: center" scope="row">{{ cur_ses_active }}</th>
                    <td style="text-align: center">{{ cur_pro_count }}</td>
                    <td style="text-align: center">{{ cur_max_pro_set }}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                当前各服务Session占用情况
            </div>
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center">SCHEMANAME</th>
                    <th style="text-align: center">服务名/客户端</th>
                    <th style="text-align: center">用户名</th>
                    <th style="text-align: center">session状态</th>
                    <th style="text-align: center">占用数量(降序)</th>
                </tr>
                </thead>
                <tbody>
                {% for svc in orc_service_sess_list %}
                    <tr>
                        <th style="text-align: center" scope="row">{{ svc.0 }}</th>
                        <td style="text-align: center">{{ svc.1 }}</td>
                        <td style="text-align: center">{{ svc.2 }}</td>
                        <th style="text-align: center" scope="row">{{ svc.3 }}</th>
                        <th style="text-align: center" scope="row">{{ svc.4 }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}