{% extends 'base_template.html' %}

{% block title %}
    <title>流量仪报警邮箱修改</title>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 修改邮箱 </h3>  <a style="color: red">{{ error_message }}</a>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" placeholder="姓名" name="name" value={{ ob.name }}>
                    </div>

                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text" class="form-control" placeholder="邮箱" name="email" value={{ ob.email }}>
                    </div>

                    <div class="form-group">
                        <label>是否启用</label>
                        <select class="form-control" name="flag">
                            {% for item in flag_choice %}
                                {% if ob.use_flag == item.0 %}
                                    <option value="{{ item.0 }}" selected="selected">{{ item.1 }}</option>
                                {% else %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">提 交</button>
                    <a class="btn btn-primary" href="/fm/email">返 回</a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}